:root{
    --map_color: linear-gradient(to bottom right, #389AA3, #3AD7E6);
    --alive_color: #4864B2;
    --state2_color: #FFA555;
}

.alive {
    background-color: var(--alive_color); 
    display: inline-block;
    border-radius: 4px;
}

.custom_life {
    background-color: var(--state2_color);
    display: inline-block;
    border-radius: 4px;
}

.gol_row {
    margin-top: -4px;
    margin-bottom: -4px;
}

.dead {
    display: inline-block; 
    background-color: transparent; 
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--map_color); 

}

.top {
    z-index: 1;
}