body {
    background-color: transparent;
    height: 100%;
}

.main {
    pointer-events: none;
}

.center-screen {
    position: absolute;
    top: 40%;
    left: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-card {
    padding: 5vh 10vh 5vh 10vh;
    background: linear-gradient(to bottom right, #43CA54, #3EDF52);
    border-radius: 5px;
    box-shadow: 0 3px 7px 0;

}