body {
    background-color: transparent;
    height: 100%;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-card {
    padding: 5vh 10vh 5vh 10vh;
    background-color: #92B4F4;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0;

}